body {
    text-align: center;
}

h1 {
    font-family: Algerian;
    font-size: 70px;
    margin: 0.2em;
    color: red;
}

h2 {
    margin: 1em 0 0.25em;

}

h2:first-of-type {
    margin-top: 0.5em;
    color: red;
}

table,
tr,
td {
    border: 1px solid red;
}

table {
    border-collapse: collapse;
    margin: 0 auto;
}

tr {
    height: 40px;
}

td {
    width: 40px;
}

input[type=number] {
    width: 6em;
}
#divPicker {
    background-image: url('images.png');
}
#sizePicker {
    /* background-image: url('panda.png'); */
    width: auto;
    height: auto;
    align-items: center;

}